// Variables
$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;

$accent-color: #e44232;
$bg-color: #fafafa;

$text-color: #202020;
$secondary-text-color: #fff;

$light-hover-color: #f9f9f9;
$gray-color: #555;
$task-item-color: #333;
